*~
.DS_Store
*.pyc
autom4te.cache
*.a
*.so
*.o
*.bak
*.dot
.*.swp
*.gz
*.la
*.lo
Makefile
config.h
config.log
config.status
addall
output.bmp
pynamic.h
pynamic_driver*
sharedlib_section_info*
lib*.c
lib*.h
micro_tests/
slurm-*.out
*/pynamic_sdb_pyMPI_initialize.c
!*libmodulefinal.c
