*~
.DS_Store
*.pyc
autom4te.cache
*.a
*.so
*.o
*.bak
*.dot
.*.swp
*.gz
*.la
*.lo
Makefile
config.h
config.log
config.status
addall
output.bmp
pynamic.h
pynamic_driver*
sharedlib_section_info*
slurm-*.out
